body{
    background: url("background-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    color: white;

}
header{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.box{
    display: block;
    margin: auto;
    padding: 2%;
    background-color: rgba(11, 6, 56, 0.967);
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 0;
}
#url-box, #url-box3, #url-box2 {
    height: 35px;
    width: 98%;
    border-radius:4px;
    border-style: none;
    font-size: 16px;
    padding-left: 10px;
}
#favft, #current-role{
    height: 35px;
    width: 100%;
    border-radius:4px;
    border-style: none;
    font-size: 16px;
    padding-left: 10px;
}
#comment{
    width: 98%;
    height: 130px;
    font-size: 15px;

}

#submit-button{
    width: 99%;
    height: 50px;
    background-color: rgb(46, 138, 77);
    color: white;
    border-style: none;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 80px;
}
#submit-button:hover{
    cursor:pointer
}
@media  (max-width:480px) {
    body{
        display: block;
        margin: auto;
    }
    .box{
        min-width: 91%;
        padding: 20px;
    }
}
